*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#020617;
  color:white;
  overflow-x:hidden;
}

.loader{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
  animation:loaderFade 2.5s forwards;
}

.loader h1{
  font-size:3rem;
  font-family:'Playfair Display',serif;
}

@keyframes loaderFade{
  0%,80%{opacity:1}
  100%{opacity:0;visibility:hidden}
}

.cursor,
.cursor2{
  position:fixed;
  border-radius:50%;
  pointer-events:none;
  transform:translate(-50%,-50%);
  z-index:999;
}

.cursor{
  width:18px;
  height:18px;
  background:white;
}

.cursor2{
  width:250px;
  height:250px;
  background:rgba(255,105,180,0.12);
  filter:blur(50px);
}

}
